<div class="menue-wrapper flex">
    <div class="logo_name-wrapper flex">
        <div class="logo"><img src="~/images/logo.png"></div>
        <div class="name flex_column"><a>SakurAni</a></div>
    </div>

    <div class="menue_links-wrapper flex">
        <div class="menue_item flex_column"><a>Über mich</a></div>
        <div class="menue_item flex_column"><a>Blog</a></div>
        <div class="menue_item flex_column"><a>Portfolio</a></div>
        <div class="menue_item flex_column"><a>Kontakt</a></div>
    </div>
</div>
