@await Html.PartialAsync("_Menue")

<div class="header_home">
    <div class="welcome_text-area wrapper">
        <span class="welcome-text">Datenschutz</span>
    </div>
</div>

<div class="container body-content">

</div>