@await Html.PartialAsync("_Menue")

<div class="header_home">
    <div class="welcome_text-area wrapper">
        <span class="welcome-text">Herzlich Willkommen, ich bin</span>
        <span class="ani-text">Ani Wünsch</span>
    </div>
</div>

<div class="region_about_expertise wrapper flex">
    <div class="contactme_visitme">
        <div class="about_fotome">
            <img src="~/images/ani.jpg">
        </div>

        <div class="about_contactme offset-top-m">
            <h2>Sie haben eine Idee für ein gemeinsames Projekt?</h2>
        </div>
        <div class="about_contactme-btn">
            <a href="#" class="myButton">Kontaktieren Sie mich</a>
        </div>

        <div class="about_visitme offset-top-m">
            <h2>Oder besuchen Sie mich</h2> 
        </div>
        <div class="about_visitme-icons">
            <a target="_blank" href="https://github.com/SakurAni" class="social-icon"><i class="fab fa-github"></i></a>
            <a target="_blank" href="https://www.xing.com/profile/Anita_Wuensch" class="social-icon"><i class="fab fa-xing"></i></a>
            <a target="_blank" href="https://twitter.com/SakurAnisWorld" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a target="_blank" href="https://www.instagram.com/sakuranisworld" class="social-icon"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.facebook.com/AnitaRominaWuensch" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a target="_blank" href="https://www.sakurani.de/" class="social-icon"><img src="~/images/sakurani_art.png" style="width: 50px;"></a>
        </div>
    </div>

    <div class="aboutme_expertise">
        <div class="aboutme">
            <h1 class="aboutme_headline">Ein paar Worte zu mir</h1>
            <span class="aboutme_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitationullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velitesse cillum dolore eu fugiat nulla pariatur. Excepteur sintoccaecat cupidatat non proident, sunt in culpa qui officiadeserunt mollit anim id est laborum.</span>
        </div>

        <div class="expertise offset-top-m">
            <h1 class="expertise_headline">Meine Expertise</h1>
            <div class="flex">
                <div class="flex_grow_1">
                    <img src="~/images/icon_design.svg">
                    <h2>Design</h2>
                </div>
                <div class="flex_grow_1">
                    <img src="~/images/icon_frontend.svg">
                    <h2>Frontend</h2>
                </div>
                <div class="flex_grow_1">
                    <img src="~/images/icon_backend.svg">
                    <h2>Backend</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper offset-top-m referenzen">
    <h1>Meine Arbeiten</h1>
    <div class="flex referenzen-block_oben">
        <div class="flex ref_content-block">
            <div class="referenzen-title">
                <h2>Referenz mit langem Titel</h2>
            </div>
            <div class="referenzen-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitationullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in.</p>
            </div>
        </div>
        <div class="flex ref_content-block">
            <div class="referenzen-title">
                <h2>Referenz mit noch viel längerem Titel als der vorherige</h2>
            </div>
            <div class="referenzen-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitationullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in.</p>
            </div>
        </div>
    </div>
    <div class="flex referenzen-block_unten">
        <div class="flex ref_content-block">
            <div class="referenzen-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitationullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in.</p>
            </div>
            <div class="referenzen-title">
                <h2>Referenz mit kurzem Titel</h2>
            </div>
        </div>
        <div class="flex ref_content-block">
            <div class="referenzen-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitationullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in.</p>
            </div>
            <div class="referenzen-title">
                <h2>Lorem ipsum</h2>
            </div>
        </div>
    </div>
</div>

<div class="wrapper kundenmeinungen offset-top-m offset-bottom-m">
    <h1>Das sagen meine Kunden</h1>
    <div class="flex">
        <div class="meinungen-block">
            <div class="meinungen-img">
                <img src="~/images/matthias_seifert.png">
            </div>
            <div class="meinungen-nametitel">
                <h2>Matthias Seifert</h2>
                <h3>CEO at M S Corp.</h3>
            </div>
            <div class="meinungen-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>

        <div class="meinungen-block">
            <div class="meinungen-img">
                <img src="~/images/matthias_seifert.png">
            </div>
            <div class="meinungen-nametitel">
                <h2>Matthias Seifert</h2>
                <h3>CEO at M S Corp</h3>
            </div>
            <div class="meinungen-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>
        
        <div class="meinungen-block">
            <div class="meinungen-img">
                <img src="~/images/matthias_seifert.png">
            </div>
            <div class="meinungen-nametitel">
                <h2>Matthias Seifert</h2>
                <h3>CEO at M S Corp</h3>
            </div>
            <div class="meinungen-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam.</p>
            </div>
        </div>
    </div>
</div>

