@await Html.PartialAsync("_Menue")

<div class="header_home">
    <div class="welcome_text-area wrapper">
        <span class="welcome-text">Herzlich Willkommen, ich bin</span>
        <span class="ani-text">Ani Wünsch</span>
    </div>
</div>

<div class="region_about_expertise wrapper">
    <div class="aboutme">
        <h1 class="aboutme_headline">Über mich</h1>
        <span class="aboutme_text">lorem ipsum</span>
    </div>
    <div class="expertise">
        <h1 class="expertise_headline">Meine Expertise</h1>
        <span class="expertise_text">lorem ipsum</span>
    </div>
</div>

