/* flexbox */
.flex {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

/* menue */
.menue-wrapper {
    width: 1200px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.logo_name-wrapper {
    flex-grow: 1;
}

.logo_name-wrapper .logo > img {
    height: 100px;
    width: auto;
    margin-right: 20px;
}

.logo_name-wrapper .name {
    font-family: 'Yeseva One', cursive;
    color: #37BBA7;
    font-size: 48px;
}

.menue_links-wrapper {
    flex-grow: 2;
}

.menue_links-wrapper .menue_item {
    font-family: 'Nunito', sans-serif;
    color: #616665;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-grow: 1;
}

.logo_name-wrapper .name, 
.menue_links-wrapper .menue_item {
    justify-content: center;
}

