* {
    margin: 0;
    padding: 0;
    z-index: 1;
}

body {
    background: url('../images/background_righttop.png') right top no-repeat, 
                url('../images/background_leftbottom.png') left bottom no-repeat;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

a {
    color: #23A38F;
}

.offset-top-m {
    margin-top: 40px;
}

.width-50 {
    width: 50%;
}

/* wrapper */
.wrapper {
    width: 1200px;
    margin: auto;
}

/* flexbox */
.flex {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_grow_1 {
    flex-grow: 1;
}

.flex_grow_2 {
    flex-grow: 2;
}

.flex_wrap {
    flex-wrap: wrap;
}

/* headline */
h1 {
    font-size: 36px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px 0;
    width: 100%;
    color: #616665;
}

h1:after {
    content: " ";
    display: block;
    width: 100px;
    height: 8px;
    background: #37BBA7;
    margin-top: 5px;
}

.footer h1 {
    color: #fff;
}

h2 {
    font-size: 28px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 20px 0;
    width: 100%;
}

/* menue */
.menue-wrapper {
    width: 1200px;
    height: 100px;
    position: fixed;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    z-index: 10;
}
.menue-wrapper::before { /* triangle left */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    margin-left: -50px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #fff;
  }

  .menue-wrapper::after { /* triangle right */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -50px;
    z-index: -1;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #fff;
  }

.logo_name-wrapper {
    flex-grow: 1;
}

.logo_name-wrapper .logo > img {
    height: 100px;
    width: auto;
    margin-right: 20px;
}

.logo_name-wrapper .name {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #37BBA7;
    font-size: 48px;
    letter-spacing: 1px;
}

.menue_links-wrapper {
    flex-grow: 2;
}

.menue_links-wrapper .menue_item {
    font-family: 'Nunito', sans-serif;
    color: #616665;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-grow: 1;
}

.logo_name-wrapper .name, 
.menue_links-wrapper .menue_item {
    justify-content: center;
}

/* header region */ 
.header_home {
    background-image: linear-gradient(to right, rgba(42,198,193,0.7) 0%, rgba(72,224,174,0.7) 100%);
    width: 100%;
    height: 600px;
}

.welcome_text-area {
    font-family: 'Permanent Marker', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.welcome-text {
    font-size: 30px;
    display: block;
    text-align: left;
    padding-top: 250px;
    padding-left: 100px;
}

.ani-text {
    font-size: 80px;
    display: block;
    text-align: right;
    padding-top: 50px;
    padding-right: 100px;
}

/* about region */ 
.region_about_expertise {
    font-family: 'Nunito', sans-serif;
    color: #616665;
    font-size: 24px;
}

.contactme_visitme {
    width: 33%;
    padding-right: 20px;
    text-align: center;
}

.aboutme_expertise {
    width: 66%;
    padding-left: 20px;
    margin-top: -50px;
    position: relative;
}

.aboutme_expertise:after {
    border-radius: 0 0 120px 120px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    content: '';
    display: block;
    height: 280px;
    left: 20px;
    position: absolute;
    top: 0;
    width: calc(100% - 20px);
    z-index: -1;
}

.about_fotome img {
    border-radius: 50%;
    border: 10px solid #fff;
    margin-top: -150px;
}

.social-icon {
    font-size: 50px;
    margin: 5px 25px;
    display: inline-block;
}

.aboutme {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
    border-radius: 6px;
    z-index: 0;
}

.aboutme, .expertise {
    padding: 1px 20px;
}

.expertise .flex {
    text-align: center;
}

/* footer */
.footer {
    background: #0F7364;
    position: relative;
    opacity: 0.8;
    color: #fff;
}

.footer .wrapper {
    margin-bottom: 40px;
}

.footer .flex_grow_2 {
    max-width: 50%;
}

.footer p {
    font-weight: 700;
    padding: 20px 0;
}

.footer_copyright {
    background: #034F43;
    height: 50px;
    color:#fff;
    text-align: center;
    line-height: 50px;
    opacity: 0.6;
}

/* buttons */
.myButton {
	background-color: #39B9A5;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family:'Nunito', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
	padding: 15px 30px;
	text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: background-color 0.3s;
}
.myButton:hover {
	background-color:#23A38F;
}
.myButton:active {
	background-color: #0F7364;
	box-shadow: inset 0px 2px 10px rgba(0,0,0,0.4);
}