* {
    margin: 0;
    padding: 0;
    z-index: 1;
}

body {
    background: url('../images/background_righttop.png') right top no-repeat, 
                url('../images/background_leftbottom.png') left bottom no-repeat;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #4D534F;
}

a {
    color: #23A38F;
    text-decoration: none;
}

.offset-top-m, .wrapper.offset-top-m {
    margin-top: 40px;
}

.offset-bottom-m, .wrapper.offset-bottom-m {
    margin-bottom: 40px;
}

.offset-left-m {
    margin-left: 40px;
}

.width-50 {
    width: 50%;
}

/* wrapper */
.wrapper {
    width: 1200px;
    margin: auto;
}

/* flexbox */
.flex {
    display: flex;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_grow_1 {
    flex-grow: 1;
}

.flex_grow_2 {
    flex-grow: 2;
}

.flex_wrap {
    flex-wrap: wrap;
}

/* headline */
h1 {
    font-size: 36px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #4D534F;
    margin: 20px 0;
    width: 100%;
}

h1:after {
    content: " ";
    display: block;
    width: 100px;
    height: 8px;
    background: #37BBA7;
    margin-top: 5px;
}

.footer h1 {
    color: #fff;
}

h2 {
    font-size: 28px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color:#4D534F;
    margin: 20px 0;
    width: 100%;
}

h3 {
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: #79807C;
    margin: 20px 0;
    width: 100%;
}

/* menue */
.menue-wrapper {
    width: 1200px;
    height: 100px;
    position: fixed;
    left: 50%;
    background-color: #fff;
    transform: translateX(-50%);
    z-index: 10;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.menue-wrapper::before { /* triangle left */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    z-index: -1;
    margin-left: -50px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #fff;
  }

  .menue-wrapper::after { /* triangle right */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -50px;
    z-index: -1;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #fff;
  }

.logo_name-wrapper {
    flex-grow: 1;
}

.logo_name-wrapper .logo > a > img {
    height: 100px;
    width: auto;
    margin-right: 20px;
}

.logo_name-wrapper .name {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #37BBA7;
    font-size: 48px;
    letter-spacing: 1px;
}

.menue_links-wrapper {
    flex-grow: 2;
}

.menue_links-wrapper .menue_item {
    font-family: 'Nunito', sans-serif;
    color: #616665;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    flex-grow: 1;
}

.logo_name-wrapper .name, 
.menue_links-wrapper .menue_item {
    justify-content: center;
}

/* header region */ 
.header_home {
    background-image: linear-gradient(to right, rgba(42,198,193,0.7) 0%, rgba(72,224,174,0.7) 100%);
    width: 100%;
    height: 600px;
}

.welcome_text-area {
    font-family: 'Permanent Marker', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.welcome-text {
    font-size: 30px;
    display: block;
    text-align: left;
    padding-top: 250px;
    padding-left: 100px;
}

.ani-text {
    font-size: 80px;
    display: block;
    text-align: right;
    padding-top: 50px;
    padding-right: 100px;
}

/* about region */ 
.region_about_expertise {
    font-family: 'Nunito', sans-serif;
    color: #616665;
    font-size: 24px;
}

.contactme_visitme {
    width: 33%;
    padding-right: 20px;
    text-align: center;
}

.aboutme_expertise {
    width: 66%;
    padding-left: 20px;
    margin-top: -50px;
    position: relative;
}

.aboutme_expertise:after {
    border-radius: 0 0 120px 120px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    content: '';
    display: block;
    height: 280px;
    left: 20px;
    position: absolute;
    top: 0;
    width: calc(100% - 20px);
    z-index: -1;
}

.about_fotome img {
    border-radius: 50%;
    border: 10px solid #fff;
    margin-top: -150px;
}

.social-icon {
    font-size: 50px;
    margin: 5px 25px;
    display: inline-block;
}

.aboutme {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
    border-radius: 6px;
    z-index: 0;
}

.aboutme, .expertise {
    padding: 1px 20px;
}

.expertise .flex {
    text-align: center;
}

/* referenzen region */
.referenzen-block {
    width: 100%;
    color: #fff;
}

.ref_content-block {
    width: 50%;
    max-height: 300px;
    overflow: hidden;
}

.ref_content-block div {
    width: 50%;
}

.ref_content-block div p {
    padding: 0 5px;
}

.ref_content-block h2 {
    margin: auto;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.referenzen-block_oben .ref_content-block:nth-child(1) {
    background: #23A38F;
}

.referenzen-block_oben .ref_content-block:nth-child(2) {
    background: #72CABD;
}

.referenzen-block_unten .ref_content-block:nth-child(1) {
    background: #034F43;
}

.referenzen-block_unten .ref_content-block:nth-child(2) {
    background: #36BAA6;
}  

.referenzen-title {
    height: 100%;
    color: #fff;
    display: grid;
    text-align: center;
    padding: 10px;
    background: url('../images/referenzen_bg.png');
}

.referenzen-text {
    height: 100%;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}

/* meinungen region */
.kundenmeinungen::before { /* triangle left */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    z-index: 0;
    left: 0;
    margin-top: 0px;
    border-style: solid;
    border-width: 0px 450px 600px 0px;
    border-color: transparent transparent #A2DDD3 transparent;
  } 

.kundenmeinungen::after { /* triangle left */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    z-index: 0;
    right: 0;
    margin-top: -550px;
    border-style: solid;
    border-width: 0px 450px 600px 0px;
    border-color: transparent transparent #A2DDD3 transparent;
    transform: rotate(180deg);
  } 

.meinungen-block {
    background: #fff;
    max-width: 33%;
    margin: 40px;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.2);
}

.meinungen-img img {
    width: 100%;
}

.meinungen-img::before { 
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    z-index: 1;
    margin-left: 137px;
    margin-top: 142px;
    border-style: solid;
    border-width: 0px 0px 70px 185px;
    border-color: transparent transparent rgba(72,224,174,0.5) transparent;
  }

  .meinungen-img::after { 
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    margin-top: -107px;
    z-index: 1;
    border-style: solid;
    border-width: 0 250px 100px 0px;
    border-color: transparent transparent rgba(35,163,143,0.5) transparent;
  }

  .meinungen-nametitel {
    margin-top: -90px;
    padding: 15px;
    position: absolute;
  }

  .meinungen-nametitel h2{
    font-size: 25px;
    color: #fff;
    margin: 0;
  }

  .meinungen-nametitel h3{
    font-size: 20px;
    color: #fff;
    opacity: 50%;
    margin: 0;
  }

  .meinungen-text {
    margin: 15px;
  }

/* datenschutz seite */
.datenschutz_text-area {
    font-family: 'Permanent Marker', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.datenschutz-text {
    font-size: 30px;
    display: block;
    text-align: left;
    padding-top: 250px;
    padding-left: 100px;
}

/* haftungsausschluss seite */
.haftung_text-area {
    font-family: 'Permanent Marker', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.haftung-text {
    font-size: 30px;
    display: block;
    text-align: left;
    padding-top: 250px;
    padding-left: 100px;
}

/* footer */
.footer {
    background: #0F7364;
    position: relative;
    opacity: 0.8;
    color: #fff;
}

.footer a {
    color: #fff;
    font-size: 20px;
    margin: 0;
}

.footer i {
    display: inline-block;
    width: 30px;
}

.footer .wrapper {
    margin-bottom: 40px;
}

.footer .flex_grow_2 {
    max-width: 50%;
}

.footer p {
    font-weight: 700;
    padding: 20px 0;
}

.footer_copyright {
    background: #034F43;
    height: 50px;
    text-align: center;
    line-height: 50px;
    opacity: 0.6;
}

.footer_rechtliches,
.footer_social {
    padding-top: 20px;
}

/* buttons */
.myButton {
	background-color: #39B9A5;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family:'Nunito', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
	padding: 15px 30px;
	text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: background-color 0.3s;
}
.myButton:hover {
	background-color:#23A38F;
}
.myButton:active {
	background-color: #0F7364;
	box-shadow: inset 0px 2px 10px rgba(0,0,0,0.4);
}